src/main/webapp/MyWebservices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:abhi="http://webservice.abhinavmishra14.github.com"
	xmlns:ax21="http://pojo.abhinavmishra14.github.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice.abhinavmishra14.github.com">
	<wsdl:types>
		<xs:schema xmlns:ax22="http://pojo.abhinavmishra14.github.com/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://webservice.abhinavmishra14.github.com">
			<xs:import namespace="http://pojo.abhinavmishra14.github.com/xsd" />
			<xs:element name="healthCheck">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="healthCheckResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="authenticateUserPojo">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="userModel" nillable="true"
							type="ax21:UserModel" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="authenticateUserPojoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ax21:AuthResult" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="authenticateUser">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="userName" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="password" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="authenticateUserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://pojo.abhinavmishra14.github.com/xsd">
			<xs:complexType name="UserModel">
				<xs:sequence>
					<xs:element minOccurs="0" name="password" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="userName" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AuthResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="responseMessage"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="sessionId" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="healthCheckRequest">
		<wsdl:part name="parameters" element="abhi:healthCheck" />
	</wsdl:message>
	<wsdl:message name="healthCheckResponse">
		<wsdl:part name="parameters" element="abhi:healthCheckResponse" />
	</wsdl:message>
	<wsdl:message name="authenticateUserPojoRequest">
		<wsdl:part name="parameters" element="abhi:authenticateUserPojo" />
	</wsdl:message>
	<wsdl:message name="authenticateUserPojoResponse">
		<wsdl:part name="parameters" element="abhi:authenticateUserPojoResponse" />
	</wsdl:message>
	<wsdl:message name="authenticateUserRequest">
		<wsdl:part name="parameters" element="abhi:authenticateUser" />
	</wsdl:message>
	<wsdl:message name="authenticateUserResponse">
		<wsdl:part name="parameters" element="abhi:authenticateUserResponse" />
	</wsdl:message>
	<wsdl:portType name="MyWebservicesPortType">
		<wsdl:operation name="healthCheck">
			<wsdl:input message="abhi:healthCheckRequest" wsaw:Action="urn:healthCheck" />
			<wsdl:output message="abhi:healthCheckResponse"
				wsaw:Action="urn:healthCheckResponse" />
		</wsdl:operation>
		<wsdl:operation name="authenticateUserPojo">
			<wsdl:input message="abhi:authenticateUserPojoRequest"
				wsaw:Action="urn:authenticateUserPojo" />
			<wsdl:output message="abhi:authenticateUserPojoResponse"
				wsaw:Action="urn:authenticateUserPojoResponse" />
		</wsdl:operation>
		<wsdl:operation name="authenticateUser">
			<wsdl:input message="abhi:authenticateUserRequest"
				wsaw:Action="urn:authenticateUser" />
			<wsdl:output message="abhi:authenticateUserResponse"
				wsaw:Action="urn:authenticateUserResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MyWebservicesSoap11Binding" type="abhi:MyWebservicesPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="healthCheck">
			<soap:operation soapAction="urn:healthCheck" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="authenticateUserPojo">
			<soap:operation soapAction="urn:authenticateUserPojo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="authenticateUser">
			<soap:operation soapAction="urn:authenticateUser"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MyWebservicesSoap12Binding" type="abhi:MyWebservicesPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="healthCheck">
			<soap12:operation soapAction="urn:healthCheck"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="authenticateUserPojo">
			<soap12:operation soapAction="urn:authenticateUserPojo"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="authenticateUser">
			<soap12:operation soapAction="urn:authenticateUser"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MyWebservicesHttpBinding" type="abhi:MyWebservicesPortType">
		<http:binding verb="POST" />
		<wsdl:operation name="healthCheck">
			<http:operation location="healthCheck" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="authenticateUserPojo">
			<http:operation location="authenticateUserPojo" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="authenticateUser">
			<http:operation location="authenticateUser" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MyWebservices">
		<wsdl:port name="MyWebservicesHttpSoap11Endpoint" binding="abhi:MyWebservicesSoap11Binding">
			<soap:address
				location="http://127.0.0.1:8082/soap-demo/services/MyWebservices" />
		</wsdl:port>
		<wsdl:port name="MyWebservicesHttpSoap12Endpoint" binding="abhi:MyWebservicesSoap12Binding">
			<soap12:address
				location="http://127.0.0.1:8082/soap-demo/services/MyWebservices" />
		</wsdl:port>
		<wsdl:port name="MyWebservicesHttpEndpoint" binding="abhi:MyWebservicesHttpBinding">
			<http:address
				location="http://127.0.0.1:8082/soap-demo/services/MyWebservices" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
